<app-globe-explorer
  class="globe-host"
  [visited]="visitedIds"

  [theme]="currentTheme"
  (themeChange)="currentTheme = $event"
  (countrySelected)="onCountrySelected($event)"
></app-globe-explorer>

@if (showScratch && scratchInfo) {
  <app-scratch-reveal
    [countryInfo]="scratchInfo"
    [theme]="currentTheme"
    (revealed)="onScratchRevealed()"
    (closed)="onScratchClosed()"
  ></app-scratch-reveal>
}

<app-country-status-modal
  *ngIf="showModal"
  [country]="selectedCountry"
  (statusSelected)="setCountryStatus($event.country, $event.status)"
  (closeModal)="closeModal()"
></app-country-status-modal>

@if (saveMessage) {
  <div class="save-toast">{{ saveMessage }}</div>
}